body {
  position: relative;
  line-height: 1.45em !important;
}

/* ===== Containers ===== */

[class^="container-"] {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
}

.container-xs {
  max-width: map-get($breakpoints, xs);
}

.container-sm {
  max-width: map-get($breakpoints, sm);
}

.container-md {
  max-width: map-get($breakpoints, md);
}

.container-lg {
  max-width: map-get($breakpoints, lg);
}

.container-full {
  max-width: calc(100% - 40px);
}

section {
  padding: 35px 0;
  position: relative;

  @include media-breakpoint-up(md) {
    padding: 70px 0;
  }

  &.section-extra-padding-top {
    padding-top: 50px;

    @include media-breakpoint-up(md) {
      padding-top: 120px;
    }
  }

  &.section-extra-padding-bottom {
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
      padding-bottom: 120px;
    }
  }

  &.section-less-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.overlay {
  padding: 0;
  background-size: cover;
  background-position: center center;

  > div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

section.overlay {
  > div {
    padding: 30px 0;

    @include media-breakpoint-up(lg) {
      padding: 70px 0;
    }
  }
}

.bg-image {
  background-size: cover;
  background-position: center center !important;
}

.bg-primary {
  ::placeholder {
    color: white;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  position: relative;
  width: 100%;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.masonry-content {
  position: absolute;
  z-index: 1;
  // width: 100%;
  // height: 100%;
  padding: 20px;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }

  &.bottom {
    bottom: 0;
  }
}

/* ===== Zoom content ===== */

.zoom {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;

  /* comment this line to see what happens behind the scenes */

  .zoom-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.3s;

    /* set the speed of your animation */
    & + div {
      z-index: 2;
    }
  }

  &:hover {
    .zoom-background {
      transform: scale(1.1);
    }

    .zoom-overlay {
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
    }
  }

  .zoom-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .zoom-content {
    width: 100%;
    height: 100%;

    > * {
      width: 100%;
    }
  }

  > a {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 3;

    &:hover {
      text-decoration: none;
    }
  }
}

/* ===== Typography ===== */

blockquote {
  font-family: $headings-font-family;
  font-size: 1.6rem;
  line-height: 1.2;
  font-style: italic;
  margin: 40px 0;
  padding-left: 20px;
  border-left: 1px solid $primary;

  span {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  @include media-breakpoint-up(md) {
    padding-left: 30px;
    font-size: 2rem;
    line-height: 1.3;
    margin: 25px 0;
  }

  &.no-style {
    padding-left: 0;
    border-left: none !important;
  }
}

.content-headings {
  @include headings() {
    margin-bottom: 20px;
  }
}

@include headings() {
  font-weight: 300;

  &.subtitle {
    // margin-bottom: 0;

    + p {
      font-size: $small-font-size;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

h2 {
  font-size: 1.6rem;
}

@include headings(4, 6) {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}

.content-pretty {
  @include headings() {
    color: $primary;
  }
}

.meta {
  margin: 0;
  font-size: $small-font-size;
  text-transform: uppercase;
  font-weight: bold;
}

/* ===== Forms ===== */

.form {
  margin: 30px 0;

  .form-group {
    margin-bottom: 0;
  }

  div.wpcf7 .ajax-loader {
    // background-image: url("../images/loader.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 50px !important;
    height: 50px !important;
    margin-left: 10px !important;
  }

  hr {
    margin: 30px 0 20px;

    @include media-breakpoint-up(md) {
      margin: 50px 0 40px;
    }
  }
}

/* ===== Misc ===== */

.bg {
  background-size: cover;
  background-position: center center;
  color: #fff;

  @include headings() {
    color: #fff;
  }
}

.social-icons {
  font-size: 2.5rem;

  svg {
    color: $primary;
  }
}

/* ===== People ===== */

.people {
  .backlink {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 80px;
  }

  .subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
  }

  .description {
    color: #999;
  }
}

/* ===== Events ===== */

// see event component. 

.single-event {
  .backlink {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 80px;
  }

  .description {
    color: #999;
  }

  .event-body {
    font-size: 1rem;
  }
}

/* ===== Resource ===== */

.resource {
  .backlink {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 80px;
  }

  .description {
    color: #999;
  }
}
